<p id="notice"><%= notice %></p>
<div class="top">
  <div class="col-sm-6" id="info">
    <div id="name">
      <strong>Name:</strong>
      <%= @restaurant.name %>
    </div>

    <div id="address">
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </div>

    <div id="phone">
      <strong>Phone number:</strong>
      <%= @restaurant.phone_number %>
    </div>

    <div id="category">
      <strong>Category:</strong>
      <%= @restaurant.category %>
    </div>
    <div id="options">
      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
      <%= link_to 'Back', restaurants_path %>
    </div>
  </div>
  <div class="col-sm-6">
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.submit "add a review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<table>
  <thead >
    <tr>
      <th>Rating</th>
      <th>Comment</th>

    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.content %></td>

      </tr>
    <% end %>
  </tbody>
</table>


